@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0; 
	height: 100%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { 
	content: " "; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #fff;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* To Navigation Style */

.color-1 {
	background: #0e83cd;
}

.sound-container {
    margin-top: 30px;
}

.custom-container > div, .sound-container > div {
    margin-top: 15px;
    color: white;
}

.custom-container, .sound-container {
    margin-left: 30px;
}

.custom-message {
    height: 80px; 
    width: 235px;
}

#send-custom, #send-sound {
    margin-top: 5px;
}