body {
    font-family: "Montserrat", sans-serif;
}

.notify-container,
.notify-content,
.notify-header {
    width: 400px;
    overflow: hidden;
}

.notify-header,
.notify-content {
    display: none;
    position: relative;
}

.notify-container {
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
}

.notify-header {
    height: 35px;
    line-height: 1.5;
    background: #000;
    text-align: center;
    font-size: 24px;
    color: #c49866;
}

.notify-content {
    height: 135px;
    background: #4d4d4d;
    color: white;
}

.notify-text {
    height: 100%;
    position: absolute;
    font-size: 18;
    margin-left: 112px;
    display: table;
    text-align: center;
}
    
    .notify-text > span {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
    }

#logo {
    width: 90px;
    height: 90px;
    padding: 22.5px 11px;
    float: left;
}