.notify-container,
.notify-content,
.notify-header {
    width: 400px;
    overflow: hidden;
}

.notify-header,
.notify-content {
    display: none;
    position: relative;
}

.notify-container {
    height: 126px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
}

.notify-header {
    height: 29px;
    line-height: 1.2;
    background: #0f3369;
    text-align: center;
    font-size: 24px;
}

.notify-content {
    height: 100px;
    background: #2e5794;
    color: white;
}

.notify-text {
    height: 100%;
    margin-left: 100px;
    text-align: center;
    font-size: 18;
}

#logo {
    width: 80px;
    height: 80px;
    padding: 8px;
    float: left;
}