body {
    font-family: "Montserrat", sans-serif;
}

.container {
    left: 95px;
    top: 0;
    position: absolute;
    display: none;
}

.notify-content {
    background: rgba(77,77,77,.7);
    overflow: hidden;
    color: white;
    display: table;
    min-height: 90px;
    max-height: 380px;
}

.line {
    display: none;
    position: absolute;
    top: 90px;
    left: 180px;
    height: 5px;
    background: #fff;
    width: 5px;
}

.notify-text {
    font-size: 22;
    padding: 10px 20px;
    max-width: 460px;
    min-width: 360px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.icon {
    display: none;
    position: absolute;
    top: 80;
    left: 0;
    height: 10px;
    width: 10px;
    background: #c49866;
    overflow: hidden;
}

.logo {
    margin: 10px;
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

#sheet {
    position: absolute;
    top: 0;
    left: 0;
}